@import url(https://fonts.googleapis.com/css?family=Raleway);

.paragraph--type--card-narrow-row {
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-flow: row wrap;
}

 .card-narrow {
  width: 220px;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  flex-direction: column;
  } 

.card-narrow-image img {
    object-fit: contain;
    height: 300px;
    width: 200px;
}
.card-narrow h3 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    line-height: 1.2;
    font-family: "Raleway",Arial,Helvetica,sans-serif;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
}

.card-narrow img:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-narrow p {
  padding: 0 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 0;
}

.card-narrow-content {
  flex: 1 1 180px;
  
}


